body {
	background-image: url(/images/bg.jpg);
}

.content {
	background-color: #fff;
	box-shadow: 0 0 20px #666;
}

/*-- navbar --*/
.nav-item {
	white-space: nowrap;
	margin: 0 30px;
}

.navbar-brand img {
	
}

/*-- carousel css --*/
.carousel-inner img {
	width: 100%;
	height: 300px;
}

/*-- box --*/
.box {
	border: 1px solid #dee2e6;
}

.box-header {
	padding: 5px;
	border-bottom: 1px solid #dee2e6;
	color: #444;
}

.box-body :last-child {
	border-bottom: 0px;
}

.box-footer {
	padding: 5px;
	color: #444;
}

/*-- article css --*/
.article {
	border-bottom: 1px dashed #dee2e6;
}

.article:hover {
	background-color: #f8fcfe;
	border-left-color: #32a5e7;
}

.article:hover .title {
	color: #000;
}

.article.without-border {
	border-bottom: 0;
}

.article img {
	height: auto;
	max-width: 100%;
}

.article .title {
	overflow: hidden;
	height: 30px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	color: #666;
}

.article .info {
	font-size: 12px;
	margin-top: 10px;
	color: #999;
}

.article .info a {
	color: #999;
}

.article .summary {
	font-size: 14px;
	margin-top: 10px;
	position: relative;
	line-height: 1.4em;
	height: 4.2em;
	overflow: hidden;
	color: #656565;
}

.article .summary::after {
	content: "...";
	font-weight: bold;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 20px 1px 45px;
	background: url(../images/ellipsis_bg.png) repeat-y;
}

.article .read-more {
	text-decoration: underline;
}

/*-- marquee --*/
ul, li {
	list-style: none
}

.scroll {
	height: 26px;
	width: 100%;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	padding: 2px;
	font-size: 14px;
}

.scroll ul {
	position: absolute;
	left: 0;
	top: 0;
}

.scroll li {
	height: 26px;
	line-height: 26px;
}

/*-- ******************************************************* --*/
/*-- Small devices (landscape phones, 576px and up) --*/
@media ( min-width : 576px) {
}

/*-- Medium devices (tablets, 768px and up) --*/
@media ( min-width : 768px) {
}

/*-- Large devices (desktops, 992px and up) --*/
@media ( min-width : 992px) {
	.navbar-brand {
		
	}
}

/*-- Extra large devices (large desktops, 1200px and up) --*/
@media ( min-width : 1200px) {
}