<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="shared/layout/layout_admin">
<head>
<meta charset="UTF-8">
<title>博客编辑</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header row">
			<h3 class="col-md-6">
				博客新建
				<small></small>
			</h3>
		</div>
		<div class="row">
			<form role="form" action="/admin/blogs/edit" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<input type="hidden" name="id" th:value="${blog.id}">
				<div class="form-group">
					<label for="title">标题:</label>
					<input type="text" id="title" name="title" class="form-control" placeholder="输入文章标题..." th:value="${blog.title}" required>
				</div>
				<div class="form-group">
					<label for="image">图片:</label>
					<input type="text" id="image" name="image" class="form-control" placeholder="输入图片地址..." th:value="${blog.image}" required>
				</div>
				<div class="form-group">
					<label for="summary">摘要:</label>
					<textarea id="summary" name="summary" class="form-control" placeholder="输入摘要..." th:utext="${blog.summary}" required rows="6"></textarea>
				</div>
				<div class="form-group">
					<label for="category">分类:</label>
					<select class="form-control" id="category" name="category" required>
						<option value="">---未选择---</option>
						<optgroup th:each="node:${categoryNodes}" th:label="${node.name}">
							<option th:each="child:${node.children}" th:value="${child.id}" th:text="${child.name}" th:selected="${child.id eq blog.category.id}"></option>
						</optgroup>
					</select>
				</div>
				<div class="form-group">
					<label for="tags">标签:</label>
					<input type="text" th:value="${blog.tags}" id="tags"  name="tags" data-role="tagsinput" />
				</div>
				<div class="form-group" style="z-index: 100">
					<label for="content">内容:</label>
					<div class="editormd" id="test-editormd">
						<textarea class="editormd-markdown-textarea" name="content" th:utext="${blog.content}" required></textarea>
					</div>
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-save"></i>
						&nbsp;保存
					</button>
					<a href="/admin/blogs" class="btn btn-primary">
						<i class="fa fa-ban"></i>
						&nbsp;取消
					</a>
				</div>
			</form>
		</div>
	</div>

	<div layout:fragment="js" th:remove="tag">
		<script type="text/javascript">
			var testEditor;
			$(function() {
				testEditor = editormd("test-editormd", {
					height : 640,
					syncScrolling : "single",
					path : "/lib/editor.md/lib/"
				});
			});

			$(':radio').iCheck({
				checkboxClass : 'icheckbox_flat-blue',
				radioClass : 'iradio_flat-blue',
			});
		</script>
	</div>
</body>
</html>