<div ng-controller="homeController">
	<!-- marquee -->
	<div class="scroll my-1 wow fadeInDown">
		<i class="fa fa-volume-up"></i>
		<ul>
			<li class="text-dark">欢迎访问我的个人博客网站</li>
			<li class="text-dark">11111111111111111111111111</li>
			<li class="text-dark">33333333333333333333333333</li>
			<li class="text-dark">11111111111111111111111111</li>
			<li class="text-dark">2222222222222</li>
		</ul>
	</div>
	<div class="content row">
		<!-- contents -->
		<div class="col-md-9">
			<!-- carousel -->
			<div class="border p-2 mt-3 wow fadeInDown">
				<div id="demo" class="carousel slide" data-ride="carousel">
					<!-- carousel-indicators -->
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>
					<!-- carousel images -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
							<div class="carousel-caption">
								<h3>第一张图片描述标题</h3>
								<p>描述文字!</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
							<div class="carousel-caption">
								<h3>第二张图片描述标题</h3>
								<p>描述文字!</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
							<div class="carousel-caption">
								<h3>第三张图片描述标题</h3>
								<p>描述文字!</p>
							</div>
						</div>
					</div>
					<!-- carousel-control -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
			<!-- articles -->
			<div class="box mt-3">
				<div class="box-header with-border">
					<strong>
						<i class="fa fa-list mr-1"></i>
						最新发布
					</strong>
				</div>
				<div class="box-body">
					<!-- article -->
					<div class="article p-2 wow fadeInDown" ng-repeat="article in list">
						<div class="row">
							<div class="col-md-4">
								<a class="thumbnail" href="#" title="详细阅读：{{article.title}}">
									<img class="img-responsive center-block"
										src="https://mysite.bj.bcebos.com/images/articles/bca99c2c-7cb6-4138-82d9-a039ff8956df.jpg" alt="">
								</a>
							</div>
							<div class="col-md-8">
								<a class="title" href="#" title="详细阅读：{{article.title}}">{{article.title}}</a>
								<p class="summary">{{article.summary}}</p>
								<div class="info">
									<a href="http://www.guojian945.com/article/">
										<i class="fa fa-plus-square mr-2">&nbsp;{{article.category}}</i>
									</a>
									<i class="fa fa-clock-o mr-2">&nbsp;{{article.createTime|date:'yyyy-MM-dd'}}</i>
									<i class="fa fa-eye mr-2">&nbsp;{{article.readSize}}次浏览</i>
									<i class="fa fa-comment mr-2">&nbsp;{{article.commentSize}}条评论</i>
									<a href="#" class="read-more pull-right" title="详细阅读：{{article.title}}">阅读更多>></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- pagination -->
			<div class="p-2">
				<ul class="pagination justify-content-center">
					<li class="page-item page-pre">
						<a class="page-link" href="javascript:void(0);" ng-click="p_pre()">‹</a>
					</li>
					<li class="page-item" ng-class="{'active':p_current==page,'disabled':(page=='first'||page=='last')}"
						ng-repeat="page in pages">
						<a class="page-link" ng-if="page=='first'||page=='last'">...</a>
						<a class="page-link" ng-if="page!='first'&&page!='last'" href="javascript:void(0);" ng-click="load_page(page)">{{page}}</a>
					</li>
					<li class="page-item page-next">
						<a class="page-link" href="javascript:void(0);" ng-click="p_next()">›</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- sidebar -->
		<div class="col-md-3">
			<div class="wow fadeInDown">
				<div class="banner border border-bottom-0 mt-3">
					<strong>
						<i class="fa fa-list mr-1"></i>
						博主推荐
					</strong>
				</div>
				<div class="border border-bottom-0">
					<!-- article -->
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
				</div>
			</div>
			<div class="wow fadeInDown">
				<div class="banner border border-bottom-0 mt-3">
					<strong>
						<i class="fa fa-list mr-1"></i>
						热门文章
					</strong>
				</div>
				<div class="border border-bottom-0">
					<!-- article -->
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
				</div>
			</div>
			<div class="wow fadeInDown">
				<div class="banner border border-bottom-0 mt-3">
					<strong>
						<i class="fa fa-list mr-1"></i>
						文章归档
					</strong>
				</div>
				<div class="border border-bottom-0">
					<!-- article -->
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
				</div>
			</div>
			<div class="wow fadeInDown">
				<div class="banner border border-bottom-0 mt-3">
					<strong>
						<i class="fa fa-list mr-1"></i>
						博主推荐
					</strong>
				</div>
				<div class="border border-bottom-0">
					<!-- article -->
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
				</div>
			</div>
			<div class="wow fadeInDown">
				<div class="banner border border-bottom-0 mt-3">
					<strong>
						<i class="fa fa-list mr-1"></i>
						热门文章
					</strong>
				</div>
				<div class="border border-bottom-0">
					<!-- article -->
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
				</div>
			</div>
			<div class="wow fadeInDown">
				<div class="banner border border-bottom-0 mt-3">
					<strong>
						<i class="fa fa-list mr-1"></i>
						文章归档
					</strong>
				</div>
				<div class="border border-bottom-0">
					<!-- article -->
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
					<div class="article p-2">aaa</div>
				</div>
			</div>
		</div>
	</div>
</div>