<!-- article -->
<div>
	<div class="text-center" ng-if="articles.length==null||articles.length==0">没有找到匹配的记录</div>
	<div class="article" ng-repeat="article in articles" ng-mouseenter="showAnimate=true;" ng-mouseleave="showAnimate=false;">
		<div class="row">
			<div class="col-md-3">
				<div class="article-left">
					<a ui-sref="posts({id:article.id})" title="详细阅读：{{article.title}}">
						<img class="img-responsive" ng-class="{'increaseSize':showAnimate==true}" src="images/f2.jpg" alt="img">
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="article-right">
					<span class="mt-0">
						<a class="article-title hvr-wobble-top" ui-sref="posts({id:article.id})" title="详细阅读：{{article.title}}">{{article.title}}</a>
					</span>
					<p class="article-summary">{{article.summary}}</p>
					<div class="article-info">
						<i class="fa fa-clock-o text-dark"></i>
						&nbsp;{{article.createTime|date:'yyyy/MM/dd'}}
						<i class="fa fa-eye ml-3 text-dark"></i>
						&nbsp;{{article.readSize}}
						<i class="fa fa-comment-o ml-3 text-dark"></i>
						&nbsp;{{article.commentSize}}
					</div>
					<div class="article-readmore">
						<a ui-sref="posts({id:article.id})" class="hvr-icon-forward" title="详细阅读：{{article.title}}"> 阅读更多>> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
