.margin-r-5 {
	margin-right: 5px;
}
.margin-r-10 {
	margin-right: 10px;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.form-login {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.footer {
	width: 100%;
	min-height: 50px;
	margin-top: 80px;
	background: #f5f5f5;
	color: #666;
}

.container .text-muted {
	margin: 10px 0;
}

.editormd-fullscreen {
	z-index: 10000;
}

.bootstrap-tagsinput {
	width: 100%;
}